In [1]:
%run ../base_setup.ipynb

Foundation: 2.11.012
Transition: 2.11.014
Engines   : 2.03.027
Behavioral: 2.06.033

In [2]:
sample_size = 10000
seed = None

-------------------------
## Synthetic Builder

In [3]:
builder = SyntheticBuilder.from_env('members')

### Run the Pipeline  save the Schema and show the Canonical Report

In [4]:
# set the version
builder.set_version(VERSION)

# run the pipeline
builder.run_synthetic_pipeline(size=sample_size)

# report
builder.canonical_report(builder.load_synthetic_canonical(), stylise=True)

### Save Reports

In [5]:
builder.save_report_canonical(report_connector_name=builder.REPORT_INTENT, report=builder.report_intent(stylise=False))
builder.save_report_canonical(report_connector_name=builder.REPORT_CATALOG, report=builder.report_column_catalog(stylise=False))

-------------------------
## Members Transition

In [6]:
tr = Transition.from_env('members')

In [7]:
# set the version
tr.set_version(VERSION)

# run the pipeline
tr.run_transition_pipeline()

# report
tr.canonical_report(tr.load_clean_canonical(), stylise=True)

### Save Reports

In [8]:
tr.save_report_canonical(report_connector_name=tr.REPORT_DICTIONARY, report=tr.canonical_report(tr.load_clean_canonical(), stylise=False))
tr.save_report_canonical(report_connector_name=tr.REPORT_SUMMARY, report=tr.report_quality_summary(stylise=False))
tr.save_report_canonical(report_connector_name=tr.REPORT_PROVENANCE, report=tr.report_provenance(stylise=False))
tr.save_report_canonical(report_connector_name=tr.REPORT_FIELDS, report=tr.report_attributes(tr.load_clean_canonical(), stylise=False))

-------------------------
## Hello World Members Transition

In [9]:
tr_hw = Transition.from_env('hello_world_members')

In [10]:
# set the version
tr_hw.set_version(VERSION)

# run the pipeline
tr_hw.run_transition_pipeline()

# report
tr_hw.canonical_report(tr_hw.load_clean_canonical(), stylise=True)

### Save Reports

In [11]:
tr_hw.save_report_canonical(report_connector_name=tr_hw.REPORT_DICTIONARY, report=tr_hw.canonical_report(tr_hw.load_clean_canonical(), stylise=False))
tr_hw.save_report_canonical(report_connector_name=tr_hw.REPORT_SUMMARY, report=tr_hw.report_quality_summary(stylise=False))
tr_hw.save_report_canonical(report_connector_name=tr_hw.REPORT_PROVENANCE, report=tr_hw.report_provenance(stylise=False))
tr_hw.save_report_canonical(report_connector_name=tr_hw.REPORT_FIELDS, report=tr_hw.report_attributes(tr_hw.load_clean_canonical(), stylise=False))

In [12]:
tr_hw.report_quality_summary()

        report              summary  result
0        score          quality_avg     81%
1                     usability_avg     96%
2               provenance_complete    100%
3                    data_described     50%
4   data_shape                 rows   10000
5                           columns      26
6                            memory  5.68MB
7    data_type              numeric       4
8                          category       8
9                          datetime       1
10                             bool       5
11                           others       8
12   usability          mostly_null       0
13                     predominance       1
14                       correlated       2
15                      adjustments       5
16        cost                price   $0.00